table {
  border-spacing: 0;
  border: 1px solid black;
}

table th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

th {
  background-color: #a4c2f4;
  font-size: 24px;
}

td {
  font-size: 20px;
}

/* table th,
td:last-child {
  border-right: 0;
} */

tr:last-child td {
  border-bottom: 0;
}
