.App {
  height: 100vh;
  padding-left: 20vw;
  padding-top: 20vh;
}

select {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 100px;
  height: 30px;
  font-size: 22px;
}

button {
  height: 30px;
  width: 100px;
  margin-left: 20px;
}
